<!DOCTYPE html>
<html>
<head>
      <% include ../partials/head %>
</head>
   <script>
        var socket = io("localhost:3000");
        socket.on("welcome",function(data){
            document.getElementById("welcome").innerHTML = "Hello " + data;
        })
        socket.on("ledStatus",function(data){
            if(data=="ON") document.getElementById("LED").checked = true;
            else document.getElementById("LED").checked = false;
        })
        socket.on("brightness",function(data){
            document.getElementById("PWM").value = data;
        })

        function checkLED()
        {
            var checkbox = document.getElementById("LED");
            if (checkbox.checked != true)
            {
                var msg = { id : "esp", status: "OFF"};
                socket.emit("ledStatus", JSON.stringify(msg));
            }
            else
            {
                var msg = { id : "esp", status: "ON"};
                socket.emit("ledStatus", JSON.stringify(msg));
            }
        }
        function changePWM() {
            var x = document.getElementById("PWM").value;
            socket.emit("brightness", x);
        }
    </script>
<body>
    <div class="container">
        <p id="welcome" style="text-align: right"></p>
        <table width="1200px" align = "center" bordercolor = "black" border = "2">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th colspan="4" style="text-align: center; font-size: 30px; color: red;">THCS</th>
            </tr>

            <tr>
                <td colspan="2">
                    <img src="http://thuthuatphanmem.vn/uploads/2015/07/17/kiem-tra-nhiet-do-may-tinh-cpu-vga-card-hinh-hdd-o-cung_020009.png" class="img" alt="Temp">
                    <p style="text-align: center;"> Temperature: <%= temp[0]%>°C </p>
                </td>
                <td colspan="2">
                    <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.15752-9/59286039_436196657143878_4799059378374180864_n.jpg?_nc_cat=107&_nc_oc=AQlh2-ZO684GRm-0wxj2CIes7Gdb1J7drmNxc2q4lCyGsMmTu2o1FfHypiJ5zlUuG3MIwDbZImwUFr3531aBExg_&_nc_ht=scontent.fhan2-3.fna&oh=22ec4e3227c06385be9595c0645f3840&oe=5D652159" class="img" alt="Hum">
                    <p style="text-align: center;"> Humidity: <%= hum[0]%>% </p>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/59295353_2375558549329583_3253747136164003840_n.jpg?_nc_cat=110&_nc_oc=AQnRTARIIJojGdv_jOHQ2zIziaj1MK6Im_XOSL7BTF6rp9fJEOahqlpNlr9Xvzje5A3y-TydHE3D7fSzfTmtzW8o&_nc_ht=scontent.fhan2-4.fna&oh=fe346efd17863207bd944b99ddb89935&oe=5D65FECE" class="img1" alt="Hum">
                    <p>LED <input type="checkbox" name="button" id="LED" onclick="checkLED()" ></br></p>
                    <p>Brightness<input type="range" min="0" max="255" value="125" id="PWM" oninput="changePWM()"></p>
                </td>
                <td colspan="3">
                    <div id="container" style="min-width:700px; height: 400px; margin: 50px;"></div>
                    <div class="card">
                        <script>
                            Highcharts.chart('container', {
                                chart: {
                                    zoomType: 'xy'
                                },
                                title: {
                                    text: 'Temperature and Humidity'
                                },
                                subtitle: {
                                    text: 'Source: LantanNTL'
                                },
                                xAxis: [{
                                    categories: ['<%= time[0]%>','<%= time[1]%>','<%= time[2]%>','<%= time[3]%>','<%= time[4]%>','<%= time[5]%>','<%= time[6]%>'],
                                    crosshair: true
                                }],
                                yAxis: [{ // Primary yAxis
                                    labels: {
                                        format: '{value}°C',
                                        style: {
                                            color: Highcharts.getOptions().colors[1]
                                        }
                                    },
                                    title: {
                                        text: 'Temperature',
                                        style: {
                                            color: Highcharts.getOptions().colors[1]
                                        }
                                    }
                                }, { // Secondary yAxis
                                    title: {
                                        text: 'Humidity',
                                        style: {
                                            color: Highcharts.getOptions().colors[0]
                                        }
                                    },
                                    labels: {
                                        format: '{value} %',
                                        style: {
                                            color: Highcharts.getOptions().colors[0]
                                        }
                                    },
                                    opposite: true
                                }],
                                tooltip: {
                                    shared: true
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'left',
                                    x: 120,
                                    verticalAlign: 'top',
                                    y: 100,
                                    floating: true,
                                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
                                },
                                series: [{
                                    name: 'Humidity',
                                    type: 'column',
                                    yAxis: 1,
                                    data: [<%= hum%>],
                                    tooltip: {
                                        valueSuffix: ' %'
                                    }

                                }, {
                                    name: 'Temperature',
                                    type: 'spline',
                                    data: [<%= temp%>],
                                    tooltip: {
                                        valueSuffix: '°C'
                                    }
                                }]
                            });
                        </script>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>